.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -225px;
}
@media (min-width: 320px) {
  .hero-section {
    margin-top: 10px;
    width: 90%;
    flex-direction: column;
  }
}
@media (min-width: 375px) {
  .hero-section {
    margin-top: 30px;
    width: 90%;
    margin-bottom: 10px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .hero-section {
    width: 80%;
  }
}
@media (min-width: 1737px) {
  .hero-section {
    width: 78%;
  }
}
@media (min-width: 1793px) {
  .hero-section {
    width: 70%;
  }
}
@media (min-width: 1906px) {
  .hero-section {
    width: 67%;
  }
}
@media (min-width: 2002px) {
  .hero-section {
    width: 64.5%;
  }
}
@media (min-width: 2058px) {
  .hero-section {
    width: 63%;
  }
}
@media (min-width: 2082px) {
  .hero-section {
    width: 62%;
  }
}
@media (min-width: 2140px) {
  .hero-section {
    width: 60.8%;
  }
}
@media (min-width: 2560px) {
  .hero-section {
    width: 47%;
  }
}
@media (min-width: 1024px) {
  .hero-section-left {
    margin-top: 100px;
  }
}

.hero-header-text h2 {
  font-size: 34px;
  font-weight: 800;
  width: 100%;
  color: #13183f;
  line-height: 43px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .hero-header-text h2 {
    width: 120%;
    font-size: 40px;
    line-height: 50.4px;
    margin-top: -125px;
  }
}
@media (min-width: 1024px) {
  .hero-header-text h2 {
    font-size: 56px;
    margin-top: -200px;
    line-height: 56px;
    width: 135%;
  }
}
@media (min-width: 1440px) {
  .hero-header-text {
    font-size: 40px;
  }
}

.hero-paragraph p {
  font-size: 14px;
  line-height: 26px;
  color: #83869a;
  width: 100%;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero-paragraph p {
    width: 125%;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 780px) {
  .hero-paragraph p {
    width: 119%;
  }
}
@media (min-width: 798px) {
  .hero-paragraph p {
    width: 115%;
  }
}
@media (min-width: 810px) {
  .hero-paragraph p {
    width: 113%;
  }
}
@media (min-width: 818px) {
  .hero-paragraph p {
    width: 110%;
  }
}
@media (min-width: 829px) {
  .hero-paragraph p {
    width: 108%;
  }
}
@media (min-width: 836px) {
  .hero-paragraph p {
    width: 105%;
  }
}
@media (min-width: 848px) {
  .hero-paragraph p {
    width: 103%;
  }
}
@media (min-width: 857px) {
  .hero-paragraph p {
    width: 101%;
  }
}
@media (min-width: 866px) {
  .hero-paragraph p {
    width: 100%;
  }
}
@media (min-width: 870px) {
  .hero-paragraph p {
    width: 97%;
  }
}
@media (min-width: 885px) {
  .hero-paragraph p {
    width: 95%;
  }
}
@media (min-width: 894px) {
  .hero-paragraph p {
    width: 94%;
  }
}
@media (min-width: 899px) {
  .hero-paragraph p {
    width: 93%;
  }
}
@media (min-width: 905px) {
  .hero-paragraph p {
    width: 90%;
  }
}
@media (min-width: 921px) {
  .hero-paragraph p {
    width: 88%;
  }
}
@media (min-width: 933px) {
  .hero-paragraph p {
    width: 85%;
  }
}
@media (min-width: 951px) {
  .hero-paragraph p {
    width: 83%;
  }
}
@media (min-width: 964px) {
  .hero-paragraph p {
    width: 81%;
  }
}

@media (min-width: 1502px) {
  .hero-paragraph p {
    width: 50%;
  }
}
/* I left off here - 07/16/2024 */
@media (min-width: 1024px) {
  .hero-paragraph p {
    font-size: 18px;
    width: 115%;
    line-height: 28px;
  }
}
@media (min-width: 1030px) {
  .hero-paragraph p {
    width: 112%;
  }
}
@media (min-width: 1078px) {
  .hero-paragraph p {
    width: 100%;
  }
}
@media (min-width: 1134px) {
  .hero-paragraph p {
    width: 90%;
  }
}
@media (min-width: 1192px) {
  .hero-paragraph p {
    width: 80%;
  }
}
@media (min-width: 1262px) {
  .hero-paragraph p {
    width: 74%;
  }
}
@media (min-width: 1292px) {
  .hero-paragraph p {
    width: 70%;
  }
}
@media (min-width: 1354px) {
  .hero-paragraph p {
    width: 65%;
  }
}
@media (min-width: 1408px) {
  .hero-paragraph p {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .hero-paragraph p {
    width: 75%;
    font-size: 19px;
  }
}
@media (min-width: 1504px) {
  .hero-paragraph p {
    width: 70%;
  }
}
/* this is where I left off */
@media (min-width: 2560px) {
  .hero-paragraph p {
    width: 70%;
  }
}

.hero-button button {
  border-radius: 50px;
  margin-top: 20px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  outline: none;
  border: none;
  color: #ffffff;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 450;
  cursor: pointer;
}
@media (min-width: 320px) {
  .hero-button button {
    font-size: 14px;
  }
}
@media (min-width: 375px) {
  .hero-button button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .hero-button button {
    margin-top: 10px;
    font-weight: 700;
  }
}
@media (min-width: 1024px) {
  .hero-button button {
    font-size: 18px;
  }
}

.hero-button button:hover {
  opacity: 60%;
}

.hero-image {
  margin-right: -490px;
}
@media (min-width: 320px) {
  .hero-image-desktop {
    display: none;
  }
}
@media (min-width: 375px) {
  .hero-image-desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero-image-desktop {
    display: inline-block;
    margin-top: -270px;
    margin-right: -500px;
  }
}

.hero-image-tablet {
  display: none;
}
@media (min-width: 768px) {
  .hero-image-tablet {
    display: inline-block;
    margin-top: -190px;
    margin-right: -325px;
  }
}
@media (min-width: 1024px) {
  .hero-image-tablet {
    display: none;
  }
}

.hero-image-mobile {
  display: none;
}
@media (min-width: 320px) {
  .hero-image-mobile {
    display: inline-block;
    margin: 16px 7.26px -40px 7px;
  }
}
@media (min-width: 375px) {
  .hero-image-mobile {
    display: inline-block;
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .hero-image-mobile {
    display: none;
  }
}
