.hero-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
    width: 61vw;
    margin-top: 225px;
}

.hero-container-left {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.hero-header {
    font-size: 49px;
    font-weight: 800;
    color: #13183F;
    line-height: 70px;
}

.hero-para {
    font-size: 20px;
    line-height: 28px;
    color: #83869A;
}

.hero-button button {
    border-radius: 50px;
    margin-top: 20px; 
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 450;
    cursor: pointer;
}

.hero-button button:hover {
    opacity: 60%;
}

.hero-container-right {
    position: absolute;
    top: -14%;
    right: -8%;
}

.hero-image-tablet {
    display: none;
}

@media (max-width: 2560px) {
    .hero-container {
        width: 48vw;
    }
}

@media (max-width: 1440px) {
    .hero-container {
        width: 83vw;
    }
    .hero-container-right {
        top: -18%;
        right: -25%;
    }
}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 105px;
        margin-left: 39px;
    }
    .hero-header {
        font-size: 27px;
        font-weight: 800;
        line-height: 50px;
    }
    .hero-para {
        font-size: 16px;
        line-height: 27px;
    }    
    .hero-button button {
        width: 156px;
        height: 56px;
        font-size: 15px;
        text-align: center;
    }
    .hero-container-right {
        display: none;
    }
    .hero-image-tablet {
        display: block;
        position: absolute;
        top: -7%;
        right: -39%;
    }
} 