.hero-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
    width: 61vw;
    margin-top: 225px;
}

.hero-container-left {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.hero-header {
    font-size: 49px;
    font-weight: 800;
    color: #13183F;
    line-height: 70px;
}

.hero-para {
    font-size: 20px;
    line-height: 28px;
    color: #83869A;
}

.hero-button button {
    border-radius: 50px;
    margin-top: 20px; 
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 450;
    cursor: pointer;
}

.hero-button button:hover {
    opacity: 60%;
}

.hero-container-right {
    position: absolute;
    top: -14%;
    right: -8%;
}

.hero-image-tablet {
    display: none;
}
.hero-image-mobile {
    display: none;
}

@media (max-width: 2560px) {
    .hero-container {
        width: 60vw;
    }
    .hero-image-mobile {
        display: none;
    }
}

@media (max-width: 1440px) {
    .hero-container {
        width: 83vw;
    }
    .hero-container-right {
        top: -18%;
        right: -25%;
    }
    .hero-image-mobile {
        display: none;
    }
}


@media (max-width: 1024px) {
    .hero-container {
        width: 84vw;
        margin-top: 125px;
    }
    .hero-header h2 {
        font-size: 50px;
        font-weight: 800;
        line-height: 50px;
    }
    .hero-para p {
        font-size: 18px;
    }
    .hero-container-right {
        display: none;
    }
    .hero-image-tablet {
        display: flex;
        position: absolute;
        right: -27%;
        top: -7%;
    }
    .hero-button button {
        padding: 20px 25px;
        font-size: 16px;
    }
    .hero-image-mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 105px;
        margin-left: 42px;
        width: 50vw;
    }
    .hero-header h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
    }
    .hero-para p {
        font-size: 15px;
        line-height: 27px;
    }    
    .hero-button button {
        width: 167px;
        font-size: 15px;
        text-align: center;
    }
    .hero-container-left {
        gap: 15px;
    }
    .hero-container-right {
        display: flex;
        flex-direction: column;
        margin-top: 145px;
        margin-right: -85px;
    } 
    .hero-image-desktop {
        display: none;
    }
    .hero-image-mobile {
        display: none;
    }
} 

@media (max-width: 425px) {
    .hero-container-tablet {
        display: none;
    }
    .hero-container {
        margin-top: 40px;
    }

    .hero-image-desktop {
        display: none;
    }

    .hero-container-right {
        margin-top: 580px;
        margin-right: 100px;
    }

    .hero-image-mobile {
        display: flex;
    }

    .hero-header {
        margin-top: 5px;
        margin-left: -25px;
        width: 98vw;
    }

    .hero-header h2 {
        font-size: 45px;
    }

    .hero-para {
        margin-left: -25px;
        width: 75vw;
    }

    .hero-para p {
        font-size: 16px;
    }

    .hero-button {
        margin-left: -30px;
        margin-top: -10px;
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .hero-container-tablet {
        display: none;
    }
    .hero-container {
        margin-top: 40px;
        width: 80vw;
    }
    .hero-container-right {
        margin-top: 580px;
        margin-right: 46px;
    }
    .hero-header {
        margin-left: -22px;
        margin-top: 5px;
    }
    .hero-para {
        margin-left: -22px;
        width: 87vw;
    }
    .hero-button {
        margin-left: -22px;
        margin-top: -10px;
        font-size: 16px;
    }
}