.cards-section {
  width: 50%;
  margin: 30px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 375px) {
  .cards-section {
    width: 90%;
    gap: 35px;
    margin-bottom: 60px;
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .cards-section {
    row-gap: 50px;
    column-gap: 8px;
  }
}

#colorful-card {
  background: linear-gradient(360deg, rgb(240, 42, 166), rgba(255, 111, 72));
  color: #ffffff;
}
@media (min-width: 375px) {
  #colorful-card {
    height: 120px;
  }
}
@media (min-width: 768px) {
  #colorful-card {
    height: 240px;
  }
}
@media (min-width: 1024px) {
  #colorful-card {
    height: 280px;
  }
}

#colorful-card .colorful-header {
  align-items: center;
  justify-content: center;
  width: 82%;
  margin-top: 72px;
  margin-left: 38px;
  margin-right: 26px;
  font-size: 32px;
  font-weight: 800;
}
@media (min-width: 375px) {
  #colorful-card .colorful-header {
    font-size: 24px;
    margin-top: 24px;
    margin-left: 2px;
  }
}
@media (min-width: 768px) {
  #colorful-card .colorful-header {
    margin-top: 56px;
    width: 90%;
  }
}

.cards {
  width: 400px;
  height: 320px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 375px) {
  .cards {
    width: 360px;
    height: 235px;
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .cards {
    width: 335px;
    height: 255px;
  }
}
@media (min-width: 1024px) {
  .cards {
    width: 298px;
    height: 280px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  }
}

.cards img {
  width: 56px;
  z-index: 1;
  margin-top: -22px;
}

.cards h2 {
  font-weight: 800;
  font-size: 24px;
}
@media (min-width: 375px) {
  .cards h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .cards h2 {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .cards h2 {
    font-size: 22px;
  }
}

.cards p {
  color: #83869a;
  font-size: 20px;
  width: 97%;
}
@media (min-width: 375px) {
  .cards p {
    width: 90%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .cards p {
    width: 96%;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .cards P {
/* This is where I left off */
  }
}

.cards span {
  color: #f74780;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 25px;
}
@media (min-width: 375px) {
  .cards span {
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .cards span {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
  }
}

.cards span:hover {
  opacity: 60%;
}
