.cards-section {
  width: 50%;
  margin: 30px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1440px) {
  .cards-section {
    width: 80%;
  }
}

#colorful-card {
  background: linear-gradient(360deg, rgb(240, 42, 166), rgba(255, 111, 72));
  color: #ffffff;
}

#colorful-card .colorful-header {
  align-items: center;
  justify-content: center;
  width: 82%;
  margin-top: 72px;
  margin-left: 38px;
  margin-right: 26px;
  font-size: 32px;
  font-weight: 800;
}
@media (max-width: 1024px) {
  #colorful-card .colorful-header {
    font-size: 24px;
    margin-left: 9px;
  }
}

.cards {
  width: 400px;
  height: 320px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 1440px) {
  .cards {
    width: 360px;
  }
}
@media (max-width: 1024px) {
  .cards {
    width: 339px;
    height: 270px;
  }
}

.cards img {
  width: 56px;
  z-index: 1;
  margin-top: -22px;
}

.cards h2 {
  font-weight: 800;
  font-size: 24px;
}
@media (max-width: 1024px) {
  .cards h2 {
    font-size: 18px;
  }
}

.cards p {
  color: #83869a;
  font-size: 20px;
  width: 97%;
}
@media (max-width: 1440px) {
  .cards p {
    width: 96%;
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .cards p {
    font-size: 15px;
    line-height: 22px;
  }
}

.cards span {
  color: #f74780;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .cards span {
    font-size: 16px;
  }
}

.cards span:hover {
  opacity: 60%;
}
