.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38.7px;
}

.nav-button {
    border-radius: 50px;
    background: #13183F;
    color: #FFFFFF;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 60%;
}

@media (max-width: 2560px) {
    .navbar-container {
        width: 60vw;
    } 
}

@media (max-width: 1440px) {
    .navbar-container {
        width: 83vw;
    }
}

@media (max-width: 1024px) {
    .navbar-container {
        width: 83vw;
    }
    .nav-button {
        font-size: 15px;
    }
    .logo {
        width: 115px;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        width: 85vw;
    }
    .nav-button {
        width: 156px;
        height: 56px;
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .logo {
        width: 25vw;
    }
    .nav-button {
        width: 145px;
        font-size: 13px;
    }
    .navbar-container {
        width: 97vw;
        margin-right: -15px;
        margin-top: 20px;
    }
}




