.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38.7px;
}
@media (min-width: 320px) {
  .navbar-container {
    width: 90%;
  }
  .logo {
    width: 80px;
  }
}
@media (min-width: 375px) {
  .navbar-container {
    width: 90%;
  }
  .logo {
    width: 100px;
  }
}
@media (min-width: 1367px) {
  .navbar-container {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .navbar-container {
    width: 80%;
  }
}
@media (min-width: 1595px) {
  .navbar-container {
    width: 80%;
  }
}
@media (min-width: 2560px) {
  .navbar-container {
    width: 45%;
  }
}

.nav-button {
  border-radius: 50px;
  background: #13183f;
  color: #ffffff;
  padding: 20px 35px;
  font-size: 18px;
  font-weight: 700;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 320px) {
  .nav-button {
    font-size: 14px;
  }
}
@media (min-width: 375px) {
  .nav-button {
    font-size: 16px;
  }
}

.nav-button:hover {
  opacity: 60%;
}
