.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38.7px;
}
@media (max-width: 1440px) {
    .navbar-container {
        width: 80%;
    }
}
@media (max-width: 1024px) {
    .navbar-container {
        width: 70%;
    }
}


.nav-button {
    border-radius: 50px;
    background: #13183F;
    color: #FFFFFF;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 700;
    z-index: 5;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 60%;
}

/* Commented all of the below code for now. I don't think we need it. 
@media (max-width: 1440px) {
    .navbar-container {
        width: 83vw;
    }
}

@media (max-width: 1024px) {
    /*.navbar-container {
        width: 78vw;
    }
    .nav-button {
        font-size: 15px;
    }
    .logo {
        width: 115px;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        width: 85vw;
    }
    .nav-button {
        width: 156px;
        height: 56px;
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .logo {
        width: 25vw;
    }
    .nav-button {
        width: 145px;
        font-size: 13px;
    }
    .navbar-container {
        width: 95vw;
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .logo {
        width: 25vw;
    }
    .nav-button {
        width: 145px;
        font-size: 13px;
    }
    .navbar-container {
        width: 88vw;
        margin-top: 20px;
    }
} */




