.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #13183F;
    height: 120px;
    width: 100%;
}

.footer-logo {
    margin-left: 380px;
}

.footer-button {
    margin-right: 330px;
    color: White;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 450;
    background: linear-gradient(360deg, rgb(72, 81, 255), rgba(240, 42, 166));
    border-radius: 50px;
}