.footer {
    display: flex;
    align-items: center;
    background: #13183F;
    height: 120px;
    width: 100%;
    justify-content: space-between;
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 61vw;
    margin-left: auto;
    margin-right: auto;
}

.footer-button {
    color: #FFFFFF;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 450;
    background: linear-gradient(360deg, rgb(72, 81, 255), rgba(240, 42, 166));
    border-radius: 50px;
    cursor: pointer;
}

.footer-button:hover {
    opacity: 60%;
}

@media (max-width: 2560px) {
    .footer-items {
        width: 62vw;
    }
}

@media (max-width: 1440px) {
    .footer-items {
        width: 83vw;
    }
}

@media (max-width: 1024px) {
    .footer-items {
        width: 80vw;
    }
    .footer-button {
        font-size: 16px;
    }
    .footer-logo {
        width: 115px;
    }
}

@media (max-width: 768px) {
    .footer-logo {
        margin-left: 23px;
        height: 35px;
        width: 89px;
    }
    .footer-button {
        margin-right: 23px;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
    }
}