* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
