* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
  background: linear-gradient(180deg, white 50%, #e4e6f5 100%);
  overflow-x: hidden;
  width: 100%;
  margin-left: auto; 
  margin-right: auto; 
}